@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <!-- This is my embedded Youtube link-->
    <h1>Welcome to My Favorite Song!</h1>
    <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/arVVzuU8XIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <!-- This is my Javascript code below -->
    <script src="~/js/site.js"></script>
</body>
</html>